[Unit]
Description=Run catbind server

[Service]
EnvironmentFile=/etc/catbind.conf
ExecStart=/usr/bin/catbind --port $PORT --wport $WEBPORT --webcontent $WEBCONTENT --domain $DOMAIN --data $DATADIR --timeout $TIMEOUT --maxlength $MAXLENGTH
Restart=on-failure

[Install]
WantedBy=network.target
